{% extends "base.html" %}
{% block title %}My Profile | Computer Planet{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border-0 rounded-3">
    <div class="card-body p-4">
      <h3 class="mb-4">My Profile</h3>
      <p><strong>Email:</strong> {{ request.user.email }}</p>
      <p><strong>Name:</strong> {{ request.user.name }}</p>
      <p><strong>Phone:</strong> {{ request.user.profile.phone }}</p>
      <p><strong>Company:</strong> {{ request.user.profile.company }}</p>
      <p><strong>Address:</strong> {{ request.user.profile.address }}</p>

      <a href="{% url 'profile_update' %}" class="btn btn-primary">Edit Profile</a>
    </div>
  </div>
</div>
{% endblock %}
